.nav
  =link_to "博客分类管理",admin_categories_path,:class=>"nav"
  =link_to "博客管理",admin_blogs_path,:class=>"nav"
  =link_to "评论管理",admin_comments_path,:class=>"nav"
  =link_to "用户管理",admin_users_path,:class=>"nav"
