.front-index-top{
	height: 30px;
	width: 100%;
	background-color: #f00;
}
.category-top li{
	list-style: none;
	float: left;
	// width: 60px;
	margin-left: 20px;
}
.blogs-cen{
	margin-left: 20px;
}